body{
    background-color: #F8F8F8;
  
    margin: 0 auto;
  
    height: 900px;
  }


  .myUpperMainDiv-div{
    width: 100%;
    height: 170px;
    background-color: #043B50;
  }
  
  .OuterTraingular-div{
    display: flex;
    margin-bottom: -220px;
  
    justify-content: center;
     
  }
  
  .myTraingularMainDiv-div{
    background-color: #043B50;

    width: 100%;
    height: 170px;

    margin: 0 auto;

    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

    z-index: 10;

  }
  
  .innterTraingular-div{
    border-radius:  37% 63% 68% 32% / 52% 70% 30% 48%;
    
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: -280px;
    position: relative;
  
    background-color: #FFFFFF0A;
    
  }
  
  .innterSecondaryTraingular-div{
    border-radius:  56% 44% 100% 0% / 69% 52% 48% 31% ;
    
    width: 100px;
    height: 100px;

    margin-left: 37px;
    margin-top: -230px;

    position: relative;

    background-color: #FFFFFF0A;
    
  }
  .myLowerMainDiv-div{
    width: 90%;
    height: 605px;
    background-color: #f8f8f8;

    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.108);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.108);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.108);

    margin: 0 auto;
  
    margin-top: -150px;
    position: relative;
  
    border-radius: 16px;

  }
  
  .myOuterImage-div{
    display: flex;
  }
  
  .form--hidden{
    display: none;
  }

  .myMainLogo-img{

  
    width: 39.59px;
    height: 35.19px;
  
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .myOuterPara-div{
    display: flex;
  }
  
  .myMainPara-para{
    margin: 0 auto;
    margin-top: 10px;

    font-weight: 700;
    font-size: 16px;
    font-family: 'DM Sans';

    color: #043B50;
  
  }
  
  .middlePart-div{
    width: 328px;
    height: 20px;
  
    margin: 0 auto;
    
    text-align: end;
  }
  
  .myMiddleMainPara-para{
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 16px;

    color: #464646;

    margin-bottom: -10px;
  }
  
  .myMiddlePara-para{
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: 14px;

    color: #464646;
  }
  
  
  
  .myMainMiddleField-div{
  
    height: 200px;
  
    margin: 0 auto;
    margin-top: 10px;
  
  }
  
  .myNamePara-para{
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: 12px;

    color: #A8A8A8;
    
  }

  .forgotPassword-para{
    color: #043B50;

    font-family: Tajawal;
    font-family: 400;
    font-size: 12px;

    border: solid #043B50;
    border-width: 0px 0px 1px 0px;

    cursor: pointer;
  }

  .forgotPassword-div{
    display: flex;
    justify-content: start;

    margin-top: 10px;
  }
  
  .myNameInput-input{
    text-align: end;

    padding: 20px 16px 20px 16px;

    width: 90%;

    margin: 0 auto;

   
    border-radius: 8px;
    border-style:groove;

    outline-width: 0;

    border-color: #ffffff00;
    background-color: #FFFFFF;
    color: #A8A8A8;
    
  
  }




  
  .myEmailInput-input{
    text-align: end;

    padding: 20px 16px 20px 16px;

    width: 90%;

    margin: 0 auto;

    border-radius: 8px;
    border-style:groove;

    outline-width: 0;

    border-color: #ffffff00;
    background-color: #FFFFFF;
    color: #A8A8A8;
    
    
  
  }



  .myPasswordInput-input{
    text-align: end;

    padding: 20px 16px 20px 16px;

    width: 90%;

    margin: 0 auto;

    border-radius: 8px;
    border-style:groove;
    
    outline-width: 0;
   
   
    border-color: #ffffff00;
    background-color: #FFFFFF;
    color: #A8A8A8;

  }


  
  .myVerifiedPasswordInput-input{
    text-align: end;

    padding: 20px 16px 20px 16px;

    width: 90%;

    margin: 0 auto;

    border-radius: 8px;
    border-style:groove;

    outline-width: 0;


    border-color: #ffffff00;
    background-color: #FFFFFF;
    color: #A8A8A8;
    
  }
  .myWarningInput-input{
  
    border-color: #F0AD4E;
    
  
  }
  .myErrorInput-input{
  
    border-color: #CC3636;
    
  
  }


  
  ::placeholder {
    color: #A8A8A8;
    
    font-size: 12px;
    font-weight: 400;
    font-family: 'Tajawal';
  }
  
  .myButton-btn{
    width: 100%;
    height: 48px;

    border-radius: 8px;
    border: 0;

    background-color: #043B50;
    color: #FFFFFF;

    padding: 12px 16px 12px 16px;

    margin-top: 30px;
  
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;

    text-align: center;

  
    cursor: pointer;
  }

  .mySubmitButton-btn{
    width: 100%;
    height: 48px;

    border-radius: 8px;
    border: 0;

    background-color: #043B50;
    color: #FFFFFF;

    padding: 12px 16px 12px 16px;

    margin-top: 30px;
  
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;

    text-align: center;

  
    cursor: pointer;
  }
  
  .lowerSection-div{
    width: 55%;
    height: 10px;
  
    margin: 0 auto;
    margin-top: 5px;
  
    display: flex;
  
    justify-content: center;
    justify-content: space-between;
  
  }
  
  .myLowerLeftPara-para{
    color: #A8A8A8;

    font-family: "Tajawal";
    font-size: 12px;
    font-weight: 400;
  }
  
  .myLowerRightPara-para{
   color: #043B50;

   font-weight: 400;
   font-family: "Tajawal";
   font-size: 12px;
  
   cursor: pointer;
  }

  .myFourBoxes-div{
    display: flex;
    justify-content: space-around;

    width: 80%;

    margin: 0 auto;
    margin-top: 30px;
  }

  .myBoxInput-input{
    width: 30px;
    height: 33px;

    border-radius: 8px;
    outline-width: 0;

    background-color: white;

    border: none;

    margin: 0 auto;

    padding: 12px 0px 12px 26px;

  }

.Password_Sucsessfuly_Changed {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.235);

  z-index: 123;
  
  position: fixed;

}

.myInnerSucsPassDiv-div{
  width: 328px;
  height: 220px;

  background-color: white;

  margin: 0 auto;
  margin-top: 279px;

  border-radius: 8px;

  padding-top: 60px;
}

.circleChangedPass-div{
  width: 58.71px;
  height: 58.71px;

  background-color: #043B50;

  margin: 0 auto;

  border-radius: 100px;

  -webkit-box-shadow: 0 0 0px 15px #043b5048;
  -moz-box-shadow: 0 0 0px 15px #043b5048;
  box-shadow: 0 0 0px 15px #043b5048;
}

.trueSign-svg{
  display: flex;

  margin: 0 auto;

  padding-top: 17px;

}

.passChanged-para{
  color: #464646;

  font-family: "Tajawal";
  font-size: 16px;
  font-weight: 700;

  margin-top: 25px;

}

.myPasswordError-para{

  color: #a41e1efe;
 
  font-weight: 400;
  font-family: "Tajawal";
  font-size: 12px;

  margin-top: 5px;
 
 } 

 .myPasswordWarning-para{

  color: #F0AD4E;
 
  font-weight: 400;
  font-family: "Tajawal";
  font-size: 12px;
 

  margin-top: 5px;

 } 
 
 .hiddenError{
  display: none;
 
 }



 .myShowPasswordButton-btn{
  margin-right: -20px;
  width: 50px;
  height: 1%;

  margin-top: 10px;
  margin-left: 2px;

  position: absolute;

  border: none;

  z-index: 2;


  border-radius: 8px;
  border: 0;
  outline-width: 0;

  background-color: #FFFFFF;
  color: #A8A8A8;
  
  
 }