body{
    background-color: #F8F8F8;
  
    margin: 0 auto;
  
    height: 1100px;
  }

  /* Upper section */
.myUpperMainDiv-div{
    width: 100%;
    height: 100px;
    background-color: #043B50;
    
}

.veryTopContent-div{
    width: 100%;
    height: 50%;
    background-color: #043B50;
}

.belowTopContent-div{
    width: 100%;
    height: 50%;
    background-color: #043B50;
    display: flex;
    justify-content: space-between;

}

.LeftTopContent-div{
    display: flex;

    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: 20px;
}

.myLogoImage-img{
    width: 20.17px;
    height: 19.72px;
    margin-top: 17.5px;
    padding: 0;
    margin-right: 5px;
 
}
.mainSearchDiv-div{
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin-top: 25px;

}

/* search page */
.searchBar-ipt{
    height: 48px;
    width: 60%;

    background-color: white;
    border: none;
    border-radius: 8px;

    direction: rtl; 
    text-align: start;

    padding-left: -40px;
    padding-right: 40px;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14.4px;

    position: relative;

    outline-width: 0;
}

.myLogoPara-para{
    
    font-family: "DM Sans"; 
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    
    
}
    
.RightTopContent-div{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
        
}
    
.searchLogoDiv-div{
    background-color: #054B65;
    width: 32px;
    height: 32px;


    margin-right: 10px;

    border-radius: 100px;

}
.mySearchImage-img{
    width: 12.51px;
    height: 12.81px;
    background-color: #ABABAB;

    position: absolute;

    margin-left: 70%;
    margin-top: 20px;
   
}


.mySettingButton-btn{
    width: 50px;
    background-color: #054B65;
    
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    
    z-index: 3;


}
      
/* catagory div that appearns from the right */
.categoryLogoDiv-div{
    background-color: #054B65;
    width: 32px;
    height: 32px;

    border-radius: 100px;

}

/* The main div of each card in home page */
.myContentInfo-div{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
}


.myMainContentInfoImage-img{

    height: 70%;
    width: 70%;
    margin: 0 auto;
    display: flex;

    object-fit:cover;

    border-radius: 10px;

    margin-top: 10px;
    
}

.myNamePara-para{
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;

    color: #464646;
    width: 100%;
    display: flex;
    justify-content: center;


}
.myWritedNamePara-para{

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 13px;

    color: #A8A8A8;
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: -10px;  

}




.swiper-wrapper{
    margin-left: -12.5%;

}



/* The main div of the paragraph on the top of cards slider */
.myMainPara-Div{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    width: 85%;

    margin-top: 10px;
}

.showAllOption-para{

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;

    color: #A8A8A8;

}

.messageOption-para{

    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;

    color: #464646;

}

.myCard{
    display: flex;
    justify-content: start;

}
.myCard2{
    display: flex;
    justify-content: start;
}

.myCardOuter-div{

    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 255);


    margin-top: 0px;
    margin-right: 10px;

    padding: 7px;
    text-align: center;

    


}

.myMiniCardImage-img{
    width: 150px;
    height: 123px;
    border-radius: 4px;
    

}

.myMiniCardPara-para{
    text-align: right;
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;

    margin-top: 3px;
    margin-right: 5px;

    direction: rtl;

}

.myWriterNamePara-para{
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    
    color: #A8A8A8;


}

.myStartsDiv{
    width: 90%;

    margin: 0 auto;
    margin-top: -17px;
    display: flex;
    justify-content: space-between;


}

.myStartsContainter-div{
    display: flex;

    width: 35px;

    justify-content: space-between;


}

.myStartsImage-img{
    width: 12px;
    height: 12px;

    margin-top: 14px;

    direction: rtl; 
   


}

.myStartsImage-img{
    width: 12px;
    height: 12px;

    margin-top: 0px;

    direction: rtl; 
   


}

.myStartsRate-para{
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;

    margin-top: 13px;

    color: #CCCFC7;

}

.hidden{
    display: none;

    z-index: 1;

    width: 0;
    height: 0;

}

.myCardImage-img{
    width: 100%;
    height: 500px;

    object-fit: cover;

   

    
}

.myCardMain-div{
    width: 100%;
    height: 500px;

    border-radius: 24px 24px 0 0 ;

    background-color: #F8F8F8;

    position: relative;


    z-index: 5;

    margin-top: -150px;



    
}

.myCardPara-para{
    text-align: right;
    font-family: "Tajawal";
    font-weight: 500;
    font-size: 16px;

    margin-top: 3px;
    margin-right: 5px;

    line-height: 19.2px;

    overflow:none;
    direction: rtl; 

    color: #464646;

    padding: 15px;
    padding-top: 30px;
}

.myCardMainPara-para{
    font-family: "Tajawal";
    font-weight: 500;
    font-size: 14px;

    text-align: right;

    margin-right: 5px;

    padding: 15px;
    padding-top: 30px;

    margin-top: -40px;

    color: #464646;

    direction: rtl; 

}

.myCardMiniPara-para{

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;
    text-align: right;

    color: #A8A8A8;

    padding: 20px;
    padding-top: 30px;

    margin-top: -50px;

    direction: rtl; 
    

}

.rateAndReviewsDiv-div{
    display: flex;

    margin-top: 10px;

    justify-content: space-between;
}

.myLeftArrow-img{
    width: 7.18px;
    height: 13.2px;



    margin-top: -6px;
    margin-left: 10px;
}


.myPurchasedDiv-div{
    width: 100%;
    height: 60px;
    z-index: 14322;

    border: none;

   position: fixed;
   display: flex;

   bottom: 0;

}

.myButtonBagImage{
    width: 15.07px;
    height: 16.02px;


  

   margin-top: 3px;
   margin-bottom: -3px;

   margin-right: 5px;
   z-index: 321;
}


.myPurchased-btn{
    margin: 0 auto;
    margin-top: 5px;

    width: 328px;
    height: 48px;
  
    background-color: #043B50;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;

    z-index: 4323423;
    bottom: 0;

    border: 0;

    color: white;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;


}

.myRateAndReview-para{
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;

    color: #464646;

    display: flex;
    justify-content: end;

    margin: 5%
    

}

.myOuterDiv{
    width: 95%;
    height: fit-content;

    background-color: #FFFFFF;

    margin: 0 auto;
    margin-bottom: 10px;

    padding-bottom: 5px;

    border-radius: 8px;
}
.myUpperDiv{
    width: 100%;
    height: 75%;

    display: flex;
    justify-content: space-between;

}

.myContentDiv{
    display: flex;
    justify-content: end;


}

.myProfilePicture{
    width: 43px;
    height: 43px;
    margin: 5px;
    margin-left: 10px;
}

.myStarsImage{
    height: 10px;
    width: 11px;


}
.myNamePara{
    font-family: "Tajawal";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #2F404F;

    margin-left: 6px;
    margin-top: 10px;

    text-align: end;


}

.myStarsDiv{
    margin-right: 0px;
    margin-top: -10px;
}

.myDate{
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;

    margin: 10px;

    color: #CCCFC7;
}

.myRaterComment-para{
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    text-align: right;
    color: #2F404F;

    width: 100%;

    margin-left: -7px;
    margin-right: -7px;

    direction: rtl; 

    margin-top: 0px;


}

.myEmptyDiv{
    display: grid;

    margin-top: 200px;
}

.myEmptyImage{
    width: 197px;
    height: 154px;

    margin: 0 auto;

}

.myEmptyPara{
    margin: 0 auto;
    margin-top: 10px;
    width: 233px;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;

    color: #A8A8A8;


    text-align: center;
}

.addRateButton-btn{
    position: fixed;

    width: 56px;
    height: 56px;

    background-color: #043B50;

    bottom: 0;
    right: 0;

    margin-right: 25px;
    margin-bottom: 50px;

    border-radius: 16px;


}

.myAddRate-img{
    width: 18px;
    height: 18px;

    margin: 20px;
}

.myCardOuter-div{
    margin: 10px;
}

.outerShareComment-div{
    position: fixed;
    
    justify-content: center;

    width: 100%;
    height: 100%;

    margin: 0 auto;
    z-index: 1;

    background-color: #00000039;

}

.innerShareComment-div{
    margin: 0 auto;
    margin-top: 210px;

    width: 328px;
    height: 410px;
    border-radius: 8px;

    background-color: #FFFFFF;

    
    display: grid;
    justify-content: center;

    z-index: 43;
}

.shareCommentPara-para{
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    text-align: right;

    color: #464646;

    margin: 0 auto;
    margin-top: 25px;
}

.myShareComment-Img{
    width: 68px;
    height: 68px;

    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -40px;


}

.RaterName-para{
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    text-align: right;

    color: #464646;

    margin: 0 auto;
    margin-top: 40px;

   
    height: fit-content;

}



.myRaterStars-div{
    margin: 0 auto;
    margin-top: -110px;

    z-index: 124;
}

#myStarsDiv{
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.myMiniStar{
    width: 22px;
    height: 22px;

}

.myRateInput-inp{
    width: 270px;
    height: 108px;
    background-color: #F8F8F8;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 8px;

    padding:  12px 8px 12px 8px;

    border: none;

    background-color: #F8F8F8;

    outline-width: 0;

    justify-content: end;

    direction: rtl; 

    font-family: "Tajawal";
    font-size: 12px;
    line-height: 14.4px;
    text-align: right;

    padding-right: 10px;

    color: #A8A8A8;
    

}

.myShareRate-btn{
    margin: 0 auto;
    width: 296px;
    height: 48px;

    border-radius: 8px;

    padding: 12px 16px 12px 16px;
    border: none;

    margin-top: -10px;
    margin-bottom: 20px;

    background-color: #043B50;
    color: #FFFFFF;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;
    text-align: center;

}

@keyframes animateWidth {
    from {width:0%}

    to {width: 205px;}
}

@keyframes animateWidthBack {
    from {width:205px}

    to {width: 0%;}
}

@keyframes myShadow {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.203);}
}

@keyframes myShadowBack {
    from {background-color: rgba(0, 0, 0, 0.203);}
    to {background-color: rgba(0, 0, 0, 0);}
}

.mainDiv-div{
    position: fixed;
    justify-content: center;
    

    background-color: #043B50;
    z-index: 42323;
    width: 205px;
    height: 100%;

    animation-name: animateWidth;
    animation-duration: 0.3s;

    right: 0;
}

.mainDivBack-div{
    position: fixed;

    background-color: #043B50;
    z-index: 423;
    width: 40%;
    height: 100%;
    z-index: 42323;
    animation-name: animateWidthBack;
    animation-duration: 0.3s;

    right: 0;
}
.shadowDiv-div{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);

    z-index: 423;

    animation-name: myShadow;
    animation-duration: 0.3s;
}

.shadowBack-div{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);

    z-index: 423;

    animation-name: myShadowBack;
    animation-duration: 0.3s;
}

.myAccountImage-img{
    width: 70px;
    height: 70px;

    display: flex;
    margin: 0 auto;

    margin-top: 60px;
}

.myAccountName-para{

    text-align: center;

    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
   
    color: #FFFFFF;

    margin-top: 3px;

}

.mainDivOption{
    padding-right: 13px;
    margin-top: 45px;

    
}

.option{
    display: flex;

    justify-content: end;

    padding-bottom: 15px;

    cursor: pointer;
    height: fit-content;
}

.optionImage{
    width: 24px;
    height: 24px;
}

.optionPara{
    color: white;
    font-family: "Tajawal";
    
    margin-right: 10px;
    margin-top: 0px;

    font-weight: 500;
    font-size: 14px;

}

.myServicesMainPara{
    width: 330px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: end;

    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;

    color: #464646;
    

}


.myMainSquare-div{
    display: flex;
    width: 330px;
    margin: 0 auto;

    justify-content: space-between;
}

.myMiniSquare-div{
    background-color: white;

    width: 158px;
    height: 90px;
    border-radius: 8px;

    margin-bottom: 15px;

    display: flex;

}

.myMiniSquare-para{
    width: 80px;
    height: 24px;
    margin: 0 auto;

    margin-top: 35px;
    margin-right: 5px;

    font-family: "Tajawal";
    font-weight: 500;
    font-size: 16px;

    text-align: end;

    color: #464646;
}

.myMiniSquare-img{
    width: 44px;
    height: 44px;
    margin: 0 auto;

    margin-top: 22.5px;
    margin-right: 20px;


}
.AccountContainder{
    width: 100%;
    justify-content: center;
   
}
.myMainAccountContainer{
    width: 340px;
    margin: 0 auto;
}
.myAccount-img{
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.miniImage{
    display: flex;

    margin-top: -35px;
    margin-left: 180px;

    width: 40.95px;
    height: 40.95px;
}

.myAccountPara{
    text-align: center;
    margin-top: 0px;

    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
}

.myUserName-para{
    text-align: end;

    margin-top: 50px;
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;

    color: #A8A8A8;

}

.myUserName-input{
    width: 90%;
    height: 28px;

    border-radius: 8px;


    outline-width: 0;
    border-style:groove;

    padding: 12px 16px 12px 16px;

    text-align: end;

    color: #464646;

    border-color: #ffffff00;
    font-family: "Tajawal";
    font-size: 14px;
    font-weight: 400;
}

::placeholder {
    color: #A8A8A8;
    
    font-size: 12px;
    font-weight: 400;
    font-family: 'Tajawal';
  }

  .myPasswordInput-input{
    width: 90%;
    height: 28px;

    border-radius: 8px;
    border-style:groove;

    outline-width: 0;

    padding: 12px 16px 12px 16px;

    text-align: end;

    color: #464646;
    border-color: #ffffff00;

    font-family: "Tajawal";
    font-size: 14px;
    font-weight: 400;

  }

  
 .myShowPasswordButton-btn{
    margin-right: -20px;
    width: 50px;
    height: 1%;
  
    margin-top: 10px;
    margin-left: 2px;
  
    position: absolute;
  
    border: none;
  
    z-index: 2;
  
  
    border-radius: 8px;
    border: 0;
    outline-width: 0;
  
    background-color: #FFFFFF;
    color: #A8A8A8;
    
    
   }

.outerChangePassword-para{
    width: 100%;
    display: flex;
    justify-content: start;
}

.changePassword-para{
    width: fit-content;

    margin-top: 10px;

    border: solid #043B50;
    border-width: 0px 0px 1px 0px;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;

    color: #043B50;

}

.myPaymentContainer{
  
    justify-content: center;
}

.upperCirclesMainDiv{
    width: 254px;
    height: 42px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    margin-top: 20px;
}


.myLine{
    border-top: 2px dotted #043B50;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 100px;
    position:absolute;

}




.myUnselectedLine{
    border-top: 2px dotted #A8A8A8;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 100px;
    position:absolute;
}

.circleDiv{
  
    justify-content: center;
    display: grid;
    margin: 0 auto;

}

.circle{
    width: 24px;
    height: 24px;

    background-color: #043B50;
    border-radius: 100px;


    margin: 0 auto;
    z-index: 32;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    text-align: center;

    color: white;

}

.unselectedCircle{
    width: 24px;
    height: 24px;

    background-color: #A8A8A8;
    border-radius: 100px;

    margin: 0 auto;
    z-index: 32;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    text-align: center;

    color: white;
 
}




.circlePara{
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;

    color: #043B50;

    margin: 10px;
    margin-top: 5px;

    width: 100px;


}

.unselectedCirclePara{

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;

    color: #A8A8A8;

    margin: 10px;
    margin-top: 5px;

    width: 100px;

}



.myMainPurchasedImage{
    width: 280px;
    height: 257px;

    margin: 0 auto;
    margin-top: 20px;

    position: relative;
    display: block;

}

.mainPurchasedPara{
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;

    color: #464646;

}



.myPurchasedContentDiv{
    width: 100%;
    background-color: #F8F8F8;

    height: 100%;

    margin-top: -125px;

    -webkit-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.108);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.108);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.108);

    z-index: 3;

    position: absolute;

    justify-content: end;
    
    
}

.myPurchasedPara{
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;

    color:#464646 ;

}
.myInnerPurchasedContentDiv{
    width: 360px;
    margin: 0 auto;
}
.mainPurchasedPara{
    text-align: end;
}

.myPurchasedPara{
    text-align: end;
    margin-top: -10px;
}

.sectionDiv{
    display: flex;
    justify-content: end;

    height: 54px;

    background-color: white;

    border-radius: 8px;

    

}

.myMiniImage{
    width: 39px;
    height: 38px;
    margin-right: 5px;
    margin-top: 5px;

    margin-left: 10px;
}

.myContinueButton{
    height: 48px;

    margin-top: 25px;
    border-radius: 8px;

    padding: 12px 16px 12px 16px;

    background-color: #043B50;

    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;
    color: white;

}

.myInnerCircle{
    display: flex;
    position: absolute;

    justify-content: end;

    width: 19px;
    height: 19px;

    border: 1px solid #043B50;
    border-radius: 100px;

    margin-top: 17px;
    margin-left: 20px;

    z-index: 312;
    
}

.myVeryInnerCircle{

    width: 11px;
    height: 11px;

    background-color: #043B50;

    border-radius: 100px;
    margin-top: 3.5px;
    margin-right: 4px;

}

.myInfoPara{
    text-align: end;
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;

    margin-top: 20px;
    margin-bottom: 10px;

    color: #A8A8A8;


}

.emptyInputWarning{
    text-align: end;
    color: #F0AD4E;

    font-family: "Tajawal";

}

.myPasswordError-para{

    color: #a41e1efe;
   
    font-weight: 400;
    font-family: "Tajawal";
    font-size: 12px;
  
    margin-top: 5px;
   
   } 
  
   .myPasswordWarning-para{
    text-align: end;
  
    color: #F0AD4E;
   
    font-weight: 400;
    font-family: "Tajawal";
    font-size: 12px;
   
  
    margin-top: 5px;
  
   } 

   .myWarningInput-input{
  
    border-color: #F0AD4E;

  }
  .myErrorInput-input{
  
    border-color: #CC3636;
    
  }

  .payingContainer{

    position: fixed;
    top: 0;
    z-index: 123;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.487);
  }
  .Password_Sucsessfuly_Changed {
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.235);
  
    z-index: 123;
    
    position: fixed;
  
  }
  
  .myInnerSucsPassDiv-div{
    width: 328px;
    height: 220px;
  
    background-color: white;
  
    margin: 0 auto;
    margin-top: 279px;
  
    border-radius: 8px;
  
    padding-top: 60px;
  }
  
  .circleChangedPass-div{
    width: 58.71px;
    height: 58.71px;
  
    background-color: #043B50;
  
    margin: 0 auto;
  
    border-radius: 100px;
  
    -webkit-box-shadow: 0 0 0px 15px #043b5048;
    -moz-box-shadow: 0 0 0px 15px #043b5048;
    box-shadow: 0 0 0px 15px #043b5048;
  }
  
  .trueSign-svg{
    display: flex;
  
    margin: 0 auto;
  
    padding-top: 17px;
  
  }
  
  .passChanged-para{
    color: #464646;
  
    font-family: "Tajawal";
    font-size: 16px;
    font-weight: 700;
  
    margin-top: 25px;

    direction: rtl; 
  
  }

  .passChangedTwo-para{
    color: #464646;
  
    font-family: "Tajawal";
    font-size: 12px;
    font-weight: 400;
  
    margin-top: -10px;

    direction: rtl; 
    
  }

  .myButton-btn{
    width: 100%;
    height: 48px;

    border-radius: 8px;
    border: 0;

    background-color: #043B50;
    color: #FFFFFF;

    padding: 12px 16px 12px 16px;

    margin-top: 30px;
  
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    cursor: pointer;
  }

  .signOut-btn{
    width: 100%;
    height: 48px;

    border-radius: 8px;
    border: 0;

    background-color: #043b5000;
    color: #043b50;

    border: 1px solid #043b50;

    padding: 12px 16px 12px 16px;

    margin-top: 30px;
  
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    cursor: pointer;

  }

  .ForgetPasswordContainer{
    width: 328px;
 

    justify-content: center;
    margin: 0 auto;
  }

  .passwordMainPara{
    text-align: end;
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
    color:#464646;


  }

  .outerChangePassword-div{
    position: fixed;
    width: 100%;
    height: 100%;

    
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.142);
  }

  .myInnerSucsPassDiv-div{
    position: fixed;
    top: 0;

    z-index: 423432;
  }

  .passwordMiniPara{
    text-align: end;
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 12px;
    color:#A8A8A8;

  }

  .mySaveInfoButton{
    height: 48px;
    border-radius: 8px;
    padding: 12px 16px 12px 16px ;
    background-color: #043B50;

    color: white;

    font-family: "Tajawal";
    font-size: 14px;
    font-weight: 400;
    text-align: center;


    border: none;

    margin-top: 200px;

  }
  
  .myCancelButton{

    height: 48px;
    border-radius: 8px;
    padding: 12px 16px 12px 16px ;

    color: #043B50;

    font-family: "Tajawal";
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    border: 1px solid #043B50;

    margin-top: 10px;

  }

  .signOutContainer{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 34;
    background-color: rgba(0, 0, 0, 0.216);

  
 }



  @media (min-width: 727px){
    .myMainContentInfoImage-img{
        width: 600px;
        height: 500px;
    }

  }