/* catagory div that appearns from the right */
.categoryLogoDiv-div{
    background-color: #054B65;
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

@keyframes animateWidth {
    from {transform:translateX(200px);}

    to {transform: translateX(0);}
}

@keyframes animateWidthBack {
    from {transform: translateX(0);}

    to {transform: translateX(200px);}
}

@keyframes myShadow {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.203);}
}

@keyframes myShadowBack {
    from {background-color: rgba(0, 0, 0, 0.203);}
    to {background-color: rgba(0, 0, 0, 0);}
}

.mainDiv-div{
    position: fixed;
    justify-content: center;
    

    background-color: #043B50;
    z-index: 42323;
    width: 205px;
    height: 100%;


    animation-name: animateWidth;
    animation-duration: 0.3s;


    right: 0;
}

.mainDivBack-div{
    position: fixed;
    justify-content: center;
    

    background-color: #043B50;
    z-index: 42323;
    width: 205px;
    height: 100%;


    animation-name: animateWidthBack;
    animation-duration: 0.3s;


    right: 0;
}

.shadowDiv-div{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);

    z-index: 423;

    animation-name: myShadow;
    animation-duration: 0.3s;
}

.shadowBack-div{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);

    z-index: 423;

    animation-name: myShadowBack;
    animation-duration: 0.3s;
}

.myAccountImage-img{
    width: 70px;
    height: 70px;

    display: flex;
    margin: 0 auto;

    margin-top: 60px;
}

.myAccountName-para{

    text-align: center;

    font-family: "Tajawal";
    font-weight: 700;
    font-size: 16px;
   
    color: #FFFFFF;

    margin-top: 3px;

}

.mainDivOption{
    padding-right: 13px;
    margin-top: 45px;

    
}

.option{
    display: flex;

    justify-content: end;

    padding-bottom: 15px;

    cursor: pointer;
    height: fit-content;
}

.optionImage{
    width: 24px;
    height: 24px;
}

.optionPara{
    color: white;
    font-family: "Tajawal";
    
    margin-right: 10px;
    margin-top: 0px;

    font-weight: 500;
    font-size: 14px;

}


.mainLine{
    width: 80%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-top: -25px;
    margin-bottom: 25px;
    margin-right: 8px;

    background-color: #03435B;;
}