
  /* Upper section */
  .myUpperMainDiv-div{
    width: 100%;
    height: 100px;
    background-color: #043B50;
    
}

.veryTopContent-div{
    width: 100%;
    height: 50%;
    background-color: #043B50;
}

.belowTopContent-div{
    width: 100%;
    height: 50%;
    background-color: #043B50;
    display: flex;
    justify-content: space-between;

}

.LeftTopContent-div{
    display: flex;

    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: 20px;
}

.myLogoImage-img{
    width: 20.17px;
    height: 19.72px;
    margin-top: 17.5px;
    padding: 0;
    margin-right: 5px;
 
}
.mainSearchDiv-div{
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin-top: 25px;

}

.myLogoPara-para{
   
    font-family: "DM Sans"; 
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;

    margin-top: 17px;
    
    
  }